@{
    ViewData["Title"] = "Explore";
}
<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">

    <!-- explore -->
    <div class="main__inner">


        <!-- search box -->
        <div class="z-10 p-5 max-lg:!top-10 lg:rounded-bl-2xl lg:rounded-br-2xl shadow-md bg-slate-100/60 backdrop-blur-3xl dark:bg-slate-800/60"
             uk-sticky="cls-inactive: invisible h-0; start: 200; animation: uk-animation-slide-top">

            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 absolute left-3 bottom-1/2 translate-y-1/2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
                <input type="text" placeholder="Search" class="!bg-white/20 w-full !pl-10 !py-2 border !border-gray-300 dark:!border-slate-500">
            </div>

        </div>


        <div class="gallery -mt-16" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 100">

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-1.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-2.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-3.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-4.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-5.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-3.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-5.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-4.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-2.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-1.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-1.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-5.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-3.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-4.jpg" alt="">
                    </div>
                </a>
            </div>


            <div class="gallery__card">
                <a href="#preview_modal" uk-toggle="">
                    <div class="card__image">
                        <img src="~/assets/images/post/post-2.jpg" alt="">
                    </div>
                </a>
            </div>


            <div class="w-full h-60 bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>
            <div class="w-full h-60 bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>
            <div class="w-full h-60 bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>

        </div>


    </div>



</main>